ytd-thumbnail-overlay-resume-playback-renderer {
    height: 0 !important;
}
style-scope {
    height: 0 !important;
}
.ytd-thumbnail-overlay-resume-playback-renderer {
    height: 0 !important;
}
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {
    height: 0 !important;
}
.ytThumbnailOverlayProgressBarHostWatchedProgressBarSegment {
    background: 0;
}
/*body {
    display: none;
}*/